<html>
<head>
  <link rel="stylesheet" type="text/css" href="public/stylesheets/player.css"/>
  <title><%= title %></title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/player.css">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6"></div>
    <div class="col-xs-12 col-md-6">
      <div class="player-container">
        <ul id="playerElements" class="list-inline"></ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Hype Machine</h1>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th class="text-left"></th>
          <th class="text-left">Artist: </th>
          <th class="text-left">Album:</th>
          <th class="text-left">Track Title:</th>
          <th class="text-left">Link</th>
          <th class="text-left"></th>
        </tr>
        </thead>
        <tbody id="trackData"></tbody>
      </table>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/popover.js"></script>
<script src="/javascripts/tether.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<body>
</html>