body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

td {
    white-space: nowrap;
}

a {
  color: #00B7FF;
}

img.album-artwork {
    height: 64px;
    width: 64px;
}

th.head,
th div.head{
    text-align: left;
}

a.siteurl {
    display: block;
}
