body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img.album-artwork {
    height: 10%;
    width:auto;
}

td.tdata {
    height: 10%;
    width: 10%;
}

th.head {
    text-align: left;
}
